 .about-st{
    margin-top: 100px;
}

.about-style h2{
    
    margin-bottom: 30px;
}

.about-style span{
    color: #DC3545;
    margin-bottom: 15px;
}
.about{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-description{
    	
color: #3c3e41;
line-height: 30px;
font-weight: 400;
letter-spacing: normal;
font-size: 16px;

}

.about-style h2{
    line-height: 72px;
    font-size: 40px;
    color: #3c3e41;
}

.about-style span{
    color: #f9004d;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 2px;
}

@media only screen and (max-width: 600px) {
    .about-description p {
      margin-bottom: 400px;
    }
  }