.skill-title span{
    color: #f9004d;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 2px;
}

.skill-title h2{
    line-height: 72px;
    font-size: 40px;
    color: #3c3e41;
}

.skill{
    margin-top: 100px;
    height: 500px;
    text-align: left;
    display: flex;
    justify-content: center;
    text-align: center;
    
}

.skill-left{
    margin-top: 50px;
}
.skill-right{
    margin-top: 50px;
}


.design span{
    color: #f9004d;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 2px;
}

.design{
    margin-bottom: 30px;
}



