.skill-title span{
    color: #DC3545;
}

.skill{
    margin-top: 100px;
    height: 500px;
    text-align: left;
    display: flex;
    justify-content: center;
    text-align: center;
    
}

.skill-left{
    margin-top: 50px;
}
.skill-right{
    margin-top: 50px;
}


.design span{
    color: #DC3545;
}

.design{
    margin-bottom: 30px;
}



