.card-body{
    text-align: left;
}

.buttons{
    border: 1px solid ;
    background-color: rgb(58, 182, 124);
    color: white;
    padding: 5px 15px;
    border-radius: 8px;
    
}

.por-title span{
    color: #DC3545;
}